.card {
  max-width: 276px;
  width: 100%;
  height: 424px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.favoriteBtn:hover {
  scale: 1.06;
}

.favoriteIcon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.active .favoriteIcon {
  fill: #3470ff;
  stroke: #3470ff;
}

.content {
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.brand,
.model {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.year {
  flex-shrink: 0;
  white-space: nowrap;
}

.model {
  color: #3470ff;
}

.model::after {
  content: ",";
  color: #101828;
}

.price {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.meta {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #8d929a;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.readMore {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  margin-top: 28px;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: #3470ff;
  border-radius: 12px;
  width: 276px;
  height: 44px;
  transition: background 0.2s ease;
}

.readMore:hover {
  background: #255cd7;
}
