.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.label {
  padding-left: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.selectBtn {
  height: 44px;
  background: #f7f7f7;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  padding: 12px 14px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  transition: transform 0.25s ease;
  pointer-events: none;
}

.arrow {
  transition: transform 0.25s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  max-height: 272px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  z-index: 20;
}

.list {
  list-style: none;
  margin: 0;
  padding: 14px 8px 14px 18px;
  box-sizing: border-box;
}

.option {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
  padding: 4px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.option:hover {
  color: #101828;
}

.active {
  color: #101828;
}

:global(.simplebar-mask) {
  border-radius: 12px;
  overflow: hidden;
}

:global(.simplebar-content-wrapper) {
  padding-right: 12px !important;
  box-sizing: content-box !important;
}

:global(.simplebar-track.simplebar-vertical) {
  width: 8px;
  right: 8px;
}

:global(.simplebar-scrollbar::before) {
  background: #dadde1;
  border-radius: 8px;
  opacity: 1;
}

:global(.simplebar-scrollbar) {
  transition:
    opacity 0.25s ease,
    height 0.25s ease;
}

:global(.simplebar-scrollbar:hover::before) {
  background: #8e929a;
}
