.filters {
  display: grid;
  grid-template-columns: 204px 204px 1fr auto;
  gap: 20px;
  align-items: end;
  max-width: 924px;
  margin: 0 auto 32px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  padding-left: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
}

.mileageGroup {
  display: flex;
}

.fieldLeft,
.fieldRight {
  flex: 1;
}

.fieldLeft input,
.fieldRight input {
  height: 44px;
  max-width: 160px;
  padding: 0 12px;
  font-size: 16px;
  border: 1px solid #dadde1;
  background: #f7f7f7;
  transition: border-color 0.2s ease;
}

.fieldLeft input {
  border-radius: 12px 0 0 12px;
}

.fieldRight input {
  border-radius: 0 12px 12px 0;
}

.fieldLeft input::placeholder,
.fieldRight input::placeholder {
  color: #101828;
}

.fieldLeft input:focus,
.fieldRight input:focus {
  outline: none;
  border-color: #dadde1;
}

.submitBtn {
  border-radius: 12px;
  height: 44px;
  width: 156px;
  padding: 0 32px;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}

.submitBtn:hover {
  background: #0b44cd;
}
