.form {
  background: #fff;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.descr {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.imput {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 14px;
  color: #6b7280;
}

.field input,
.field textarea {
  font-family: "Manrope", sans-serif;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #f7f7f7;
  font-size: 16px;
  color: #8d929a;
}

.field textarea {
  min-height: 88px;
  resize: none;
}

.row {
  display: flex;
  gap: 16px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 156px;
  height: 44px;
  background: #3470ff;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.2s;
}

.submit:hover {
  background: #1e4ecf;
}

.wrapper {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
}

.fakeInput {
  width: 100%;
  height: 44px;
  padding: 0 40px 0 16px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  background: #f7f7f7;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.field input:focus,
.field textarea:focus,
.fakeInput:focus {
  outline: none;
  box-shadow: none;
  border-color: #d1d5db;
}

.errorInput {
  border: 1px solid #e53935 !important;
}

.errorText {
  color: #e53935;
  font-size: 12px;
  margin-top: 4px;
}
