.container {
  margin: 0 auto;
  width: 1440px;
  padding: 84px 120px 104px 120px;
}

.wrapper {
  display: grid;
  grid-template-columns: 640px 488px;
  gap: 72px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.image {
  width: 100%;
  height: 512px;
  object-fit: cover;
  border-radius: 12px;
}

.carBlock {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
  margin-bottom: 8px;
}

.carId {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.metaLine {
  display: flex;
  gap: 16px;
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 16px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 68px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blockTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
