.hero {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 700px;
  padding: 436px 329px 60px 328px;
  text-align: center;
  background-image: url("/images/Picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: url("/images/Picture@2x.png");
  }
}

.content {
  max-width: 783px;
  height: 204px;
  margin: 0 auto;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
  background: #3470ff;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  transition: all 0.2s ease;
}

.button:hover {
  background: #1e4ecf;
}
