.calendar {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  border: 1px solid #3470ff;
  border-radius: 14px;
  padding: 12px;
  z-index: 999;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.arrowUp {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border-left: 1px solid #3470ff;
  border-top: 1px solid #3470ff;
  transform: rotate(45deg);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.topContainer {
  position: relative;
  padding-bottom: 1px;
}

.topContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  right: -12px;
  height: 1px;
  background: #3470ff;
}

.nav {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrow {
  fill: #3470ff;
  transform: rotate(270deg);
}

.rightArrow {
  fill: #3470ff;
  transform: rotate(90deg);
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828;
  position: relative;
  padding-bottom: 12px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 12px;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #8d929a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.day:hover {
  background: #dadde1;
}

.active {
  background: #3470ff;
  color: #fff;
}

.disabled {
  color: #8d929a;
  cursor: not-allowed;
}
